body{
    font-size: 30px;
    margin: 50px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2; /* Optional: add background color for headers */
}

a {
    color: blue; /* Change this to your desired color */
    text-decoration: none; /* Optional: removes underline */
}

a:visited {
    color: blue; /* Same color as unvisited */
}